body {
    background-color: #F5F2E8;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

h1 {
  font-family: "Chela One", system-ui;
  font-weight: 400;
  font-style: normal;  
}

h2 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;  
}

h3 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;    
}

h4 {
    font-family: "Handlee", cursive;
}

h5 {
    font-family: "Handlee", cursive;
}

h6 {
    font-family: "Handlee", cursive;
}

p {
    font-family: "Handlee", cursive;
}

span {
    font-family: "Handlee", cursive;
}

ul {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    list-style: none;
}

@media (min-width: 786px) {
    .container {
        margin-bottom: 10px;
      }
    }
